<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Zebra Bowl{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" crossorigin="anonymous">
</head>
<body style="background-color:#EEEEEE; color:#36393D; font-family: Verdana, sans-serif;">

{% block body %}{% endblock %}

<script src="{{ asset('js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
