{% extends "::base.html.twig" %}

{% block body %}

    <div class="container col-lg-4">
        <h3><span style="color:lightslategray">Zebra Bowl</span></h3>
        <hr/>
        <form name="startGameForm" method="post" action="{{ path('start_game') }}">

            <div class="form-group">
                <label for="lane_id">Select Lane: </label>
                <select id="lane_id" name="lane_id" class="form-control">
                    {% for availableLane in availableLanes %}
                        <option value="{{ availableLane.getId() }}">{{ availableLane.getName() }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="player_names">Comma separated player names: </label>
                <input type="text" name="player_names" id="player_names" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary pull-left">Start Game</button>

        </form>
    </div>

{% endblock %}